.book {
    position: relative;
    padding-left: 10vh;
    padding-top: 20vh;
}

.booktitle {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    color: #95DB0D;
    position: relative;
    top: 20vh;
    z-index: 998
}

.bookcover {
    position: relative;
    display: flex;
    background-image: url('../images/capa\ livro.png');
    background-repeat: no-repeat;
    background-size: auto;
    justify-content: center;
    position: relative;
    height: 830px;
    width: 660px;
}

.buttonspage {
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: 12vh;
    padding: 0 2%;
}

.buttonpageleft {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.buttonpageleft img {
    display: none;
}

.buttonpageright {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.buttonpageright img {
    display: flex;
}

.pageleft {
    background-image: url('../images/Pagina\ livro.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.3vw;
    height: 136.7vh;
}

.pageright {
    background-image: url('../images/Pagina\ livro.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.3vw;
    height: 136.7vh;
    transform: rotate(180deg);
}

li {
    list-style: none;
}

.read {
    display: none;
}

.read.on {
    display: flex;
}