@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: "help me";
    src: url('../fontes/help_me/HelpMe.ttf');
}

.HelpMe {
    font-family: "help me";
    font-weight: 400;
    font-style: normal;
}

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root {
    --header-height: 10vh;
}

* {
    font-family: "Special Elite";
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background-image: url('../images/Floresta\ Sinistra\ Roxa.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    justify-content: center;
}

header {
    background-image: url('../images/Placa.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
}

header .handnote {
    display: flex;
    flex-direction: column;
}

header .handnote span {
    font-family: "help me";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

header .navbutton a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .navbutton .menutext span {
    font-family: "help me";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.navbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slidermenu {
    transition: 0.2s;
    display: block;
    position: fixed;
    left: 0px;
    flex-direction: column;
    justify-content: start;
    width: 0px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    background-image: url('../images/Trilha\ vista\ topo.png');
}

.markselect {
    display: none;
    position: absolute;
    background-image: url('../images/scratch\ mark.png');
    width: 96px;
    height: 96px;
    transform: rotate(-10deg);
}

.slidermenu::-webkit-scrollbar {
    display: none;
}

.slidermenu-content {
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slidermenu-content .logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section:hover div{
    display: block;
}

.sections .section {
    display: flex;
    flex-direction: column;
}

.sections .section {
    background-image: url('../images/Placa\ seção.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 272px;
    height: 144px;
    align-items: center;
    justify-content: center;
}

.sections .section.selected {
    background-image: url('../images/Seção\ selecionada.png');
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sections .section.selected a {
    transform: translateY(+20px);
}

a {
    font-family: "help me";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;
    text-decoration-line: none;
}

.section a {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-20px);
}

.subsections {
    display: none;
}

.subsectionsnews {
    display: block;
}

.subsectionscomp {
    display: none;
}

.subsectionscamp {
    display: none;
}

.subsections a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/sub\ placa\ seção.png');
    background-repeat: no-repeat;
    width: 212px;
    height: 84px;
    text-align: center;
    font-size: 18px;
}