@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: "help me";
    src: url('../fontes/help_me/HelpMe.ttf');
}

.HelpMe {
    font-family: "help me";
    font-weight: 400;
    font-style: normal;
}

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}  

:root {
    --header-height: 120px;
}

* {
    font-family: "Special Elite";
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    background-image: url('../images/Floresta\ Sinistra\ Roxa.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-image: url('../images/Placa.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header .handnote {
    display: flex;
    flex-direction: column;
}

.header .handnote span{
    font-family: "help me";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.header .navbutton .menutext {
    display: flex;
    flex-direction: column;
}

.header .navbutton .menutext span {
    font-family: "help me";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.navbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slidermenu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 295px;
    height: 1023px;
    background-image: url('../images/Trilha\ vista\ topo.png');
    padding-top: var(--header-height);
    align-items: center;
}

.slidermenu-content {
    overflow: fixed;
    height: 1200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sections .section{
    display: flex;
    flex-direction: column;
}

.sections .section {
    list-style: none;
    background-image: url('../images/Placa\ seção.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 272px;
    height: 144px;
    align-items: center;
    justify-content: center;
}

.sections .section.selected {
    background-image: url('../images/Seção\ selecionada.png');
    background-repeat: no-repeat;
}

.sections .section.selected a {
    transform: translateY(+50px);
}

.subsection .dropdown {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    font-family: "help me";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;
    text-decoration-line: none;
}

.subsection .dropdown.selected {
    background-image: url('../images/Placa\ seção.png');
    background-repeat: no-repeat;
    width: 202px;
    height: 84px;
    opacity: 0;
} 

.subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}