.folder {
     background-image: url('../images/folder\ open\ paper.png');
     background-repeat: no-repeat;
     background-size: cover;
     height: 790px;
     width: 1030px;
     position: relative;
     margin-top: 20vh;
     margin-bottom: 5vh;
     display: flex;
     flex-direction: column;
}

.foldercontent {
     height: 100%;
     display: flex;
     flex-direction: row;
}

.signupbutton {
     position: relative;
     left: 3%;
}

.foldercover {
     background-image: url('../images/open\ cover\ folder.png');
     background-repeat: no-repeat;
     background-size: cover;
     height: 68px;
     width: 1066px;
     align-self: center;
}

.box {
     padding: 1%;
     border: 1px black solid;
     margin: 5% 0 0 6%;
     display: flex;
     flex-direction: column;
}

.box.main {
     width: 60%;
     height: 40%;
     display: flex;
     margin-right: 8%;
     flex-direction: column;
}

.box .title {
     font-size: 2.7vw;
     text-align: center;
     margin: 3% 3% 0 3%;
}

.inpcamp {
     padding: 1% 0 3% 0;
     font-size: 1.5vw;
     width: 70%;
}

.inpcamp input {
     border: 1px black solid;
     border-radius: 1px;
     background-color: #E8E8E8;
     width: 100%;
     height: 50%;
     font-size: 1.2vw;
}

.camprow {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.checkcamp {
     padding-left: 5%;
     text-align: end;
     font-size: 140%;
}

.checks {
     font-size: 55%;
}

.box.describe {
     width: 100%;
     height: 40%;
     display: flex;
     margin-right: 8%;
     flex-direction: column;
}