.profilecard {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.filter {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 995;
}

.card {
    background-image: url('../images/Postit.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    z-index: 990;
}

.cardinpfield {
    margin: 2%;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}

.cardinpfield input {
    background-color: #C2C200;
    width: 100%;
    height: 50%;
    border: none;
}

.cardbuttons {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: space-between;
}

.cardbuttons button {
    display: flex;
    flex-direction: row;
    background-color: #C2C200;
    height: 100%;
    width: 30%;
    padding: 3%;
    border: none;
    align-items: center;
    justify-content: center;
}