.folder {
     background-image: url('../images/folder\ open\ paper.png');
     background-repeat: no-repeat;
     background-size: cover;
     height: 790px;
     width: 1030px;
     position: relative;
     margin-top: 20vh;
     margin-bottom: 5vh;
     display: flex;
     flex-direction: column;
}

.foldercontent {
     height: 100%;
     display: flex;
     flex-direction: column;
}

.signupbutton {
     position: relative;
     left: 3%;
}

.foldercover {
     background-image: url('../images/open\ cover\ folder.png');
     background-repeat: no-repeat;
     background-size: cover;
     height: 68px;
     width: 1066px;
     align-self: center;
}

.box {
     width: fit-content;
     height: fit-content;
     padding: 1%;
     border: 1px black solid;
     margin: 0 0 0 6%;
     display: flex;
     flex-direction: column;
}

.box.main {
     width: 70%;
     height: 70%;
     display: flex;
     flex-direction: column;
}

.box .title {
     font-size: 2.7vw;
     text-align: center;
     margin: 3% 3% 0 3%;
}

.inpcamp {
     padding: 1% 0 2% 0;
     font-size: 1.5vw;
     width: 70%;
}

.inpcamp input {
     border: 1px black solid;
     border-radius: 1px;
     background-color: #E8E8E8;
     width: 100%;
     height: 50%;
     font-size: 1.2vw;
     text-align: start;
}

.camprow {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 25%;
}

.uprow {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     height: 45%;
}

.downrow {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     height: 55%;
}

.checkcamp {
     padding-left: 5%;
     text-align: end;
     font-size: 140%;
}

.checks {
     font-size: 50%;
}

.box.describe {
     margin-right: 6%;
     margin-bottom: 7%;
     width: 100%;
     height: 90%;
     display: flex;
     flex-direction: column;
}

.pagestatus {
     position: relative;
     width: 30%;
     height: 100%;
     padding: 1%;
     top: 5%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.pagestatus button {
     border: none;
     border-radius: 5px;
     background-color: #D9D9D9;
     height: 15%;
     width: 60%;
     margin: 5% 0 3% 0;
     font-size: 1.5vw;
     cursor: pointer;
}

.registerstatus {
     border: 1px black solid;
     border-radius: 1px;
     width: 120px;
     height: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.accept {
     background-image: url('../images/Aprovado.png');
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 120px;
     height: 120px;
}

.reject {
     background-image: url('../images/reprovado.png');
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 120px;
     height: 120px;
}

.errortext {
     margin: 2%;
     width: 60%;
     text-align: center;
     font-size: 1vw;
     color: red;
}

.desccont {
     display: flex;
     flex-direction: row;
     margin: 1%;
     height: 100%;
}

.box .desc {
     margin: 0%;
     width: 33%;
     height: 100%;
}

.box .desc textarea {
     border: none;
     max-width: 100%;
     max-height: 100%;
     width: 100%;
     height: 100%;
     background-color: transparent;
     box-sizing: border-box;
     font-size: 1vw;
     resize: none;
}

.generalatributes {
     height: 50%;
     width: 100%;
}

.atribute {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.box .atribute {
     margin: 0%;
     height: 90%;
}

.atricamps {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.box .atributebox {
     margin: 0%;
}

.atributebox {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100%;
     width: 25%;
     margin: 3%;
}

.atributebox input {
     height: 100%;
     width: 90%;
     font-size: 130%;
     background-color: transparent;
     border: 1px solid black;
}

.atriname {
     font-size: 110%;
     text-align: center;
}

.box.atriname {
     border-radius: 3px;
}

.beingstatus {
     display: flex;
     flex-direction: column;
     height: 100%;
}

.statuspoint {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     height: 80%;
}

.level {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0%;
     height: auto;
     justify-content: space-evenly;
}

.level .box {
     margin: 0%;
}

.level input {
     width: 40%;
     height: 80%;
     background-color: transparent;
}

input {
     text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dnd {
     display: flex;
}

.t20 {
     display: none;
}

.op {
     display: none;
}